Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@Nathan13500
Nathan13500
/
VANESTARRE
Private
1
10
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
VANESTARRE/Test/Accueil.css
@bryan-battu
bryan-battu Accueil.css
Latest commit 1837a61 13 hours ago
History
1 contributor
149 lines (136 sloc)  2.75 KB

body {
    width: 100%;
    height: 100%;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

#form {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-self: center;

    position: absolute;

    font-family: "Avenir";
    color: rgb(0, 114, 163);
    margin-left: 41%;
    margin-top: 300px;
    width: auto;
    background-color: transparent;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px black;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    border: 1px solid #335D95;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 15px -5px #335D95;
    margin-bottom: 10px;
    font-style: italic;
    color: white;
    background-color: #335D95;
}

.form input[type="text"] {
    flex-grow: 1;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 180px;
    height: 40px;
    border: 1px solid #335D95;
    border-radius: 10px;
    font-size: 14px;
    color: #335D95;
    background-color: white;
}

.form input[type="password"] {
    flex-grow: 1;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 180px;
    height: 40px;
    border: 1px solid #335D95;
    border-radius: 10px;
    font-size: 14px;
    color: #335D95;
    background-color: white;
}

#forgot {
    flex-grow: 1;
    text-decoration: none;
    font-size: 14px;
    color: #335D95;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.form button {

    flex-grow: 2;

    width: 200px;
    height: 40px;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 15px -5px green;
    margin-top: 30px;
    font-style: italic;
    color: white;
    background-color: green;
}

h1 {
    z-index: 1;
    font-family: 'Avenir';
    color: #335D95;
    font-size: 50px;
    width: 333px;
    position: absolute;
    margin-top: 100px;
    margin-left: 41%;
}

/* Div inscription et overlay */

.overlay {
    position: fixed;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
}


.popup {
    z-index: 2;
    position: relative;
    margin-left: 38%;
    margin-top: 13.5%;
    background-color: #335D95;
    border-radius: 10px;
    width: 430px;
}

.popup header {
    background-color: #335D95;
    height: 50px;
    border: 1px solid #335D95;
    border-radius: 10px;
    font-family: 'Avenir';
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.popup header span {
    width: 20px;
    height: 20px;
    float: right;
    font-size:15pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid transparent;

}
.popup header span:hover {
    border: black 1px solid;
}

#form_popup {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#form_popup input[id="mail"] {
    background-color: white;
    width: 92%;
}

#form_popup input[id="id"] {
    background-color: white;
    width: 92%;
}

#form_popup input[type="submit"] {
    background-color: green;
    width: 200px;
    margin-left: 100px;
}



