@charset "utf-8";

html, body {
    margin:0;
    padding:0;
}

#main_bar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: darkgrey 2px solid;
    background-color: transparent;
    box-shadow: 0 5px 15px -5px black;
}

h2 {
    font-family: 'Avenir';
    color: #335D95;
    font-size: 30px;
}


/*@@@@@@@@@@@@@@@@@@@@@@@ SEARCH_BAR @@@@@@@@@@@@@@@@@@@@@@@@@*/


#searchbox {
    display: flex;
    justify-content: center;
}


#searchbox input {
    outline: none;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
#searchbox input[type="text"] {
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 13px #f2f2f2;
    border: 2px solid #f2f2f2;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #6A6F75;
    width: 160px;
    padding: 14px 17px 12px 30px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    text-shadow: 0 2px 3px #fff;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#searchbox input[type="text"]:focus {
    background: #f7f7f7;
    border: 2px solid #f7f7f7;
    width: 200px;
    padding-left: 10px;

}

#button-submit{
    background: url(submit_button.png) no-repeat;
    margin-left: -40px;
    border-width: 0px;
    width: 43px;
    height: 45px;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*@@@@@@@@@@@@@@@ PROFIL and Choice @@@@@@@@@*/
#Profil_And_List select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://www.011global.com/Account/Slices/user-anonymous.png") ;
    background-size: cover;

}
#Profil_And_List select:hover{
    cursor: pointer;
}

.test:hover {
    cursor: pointer;
}

/*@@@@@@@@@@@@@@@ end PROFIL and Choice @@@@@@@@@*/

#Parent {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    margin-top: 10px;
}

#Left_Side {
    float: left;
    width: 25%;
    height: 100%;
    background-color: darkgrey;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@ CENTER et ARTICLE @@@@@@@@@@@@@@@@@@@@@@@@@@*/

#Center {
    width: 50%;
    height: 100%;


    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;

    border: darkgrey 2px solid;
    box-shadow: 0 5px 15px -5px black;
    background-color: lightgray;



}

/* @@@@@@@@ Article @@@@@@@@ */

.global_post {
    width: 450px;
    height: auto;

    margin: 20px;


}

.header_post{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;

    width: available;
    height: 70px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* @@@@@@@@@@@ header post @@@@@@@@@@@@@ */

.header_post img {

    margin-left: 25px;
    margin-right: 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header_post span {

    font-size: large;
    font-family: Arial;

}

/* @@@@@@@@@@@ main post img @@@@@@@@@@@@@ */


.main_post {
    height: auto;

}

.main_post_img {

    background-size: contain;

    width: 450px;

}

/* @@@@@@@@@@@ main post  text @@@@@@@@@@@@@ */

.main_post_text {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    background-color: white;

}

.main_post_text span {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 5px;
    margin-left: 10px;

    font-family: "Comic Sans MS";

    height: 30px;
    width: auto;

}

.main_post_text .mini_div_hr {

    width: auto;
    border-top: 1px solid black;

}

/* @@@@@@@@@@@ footer post text @@@@@@@@@@@@@ */

.footer_post {

    display: flex;
    flex-flow: row ;
    justify-content: flex-start;
    align-items: center;

    width: 450px;
    height: 40px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px black solid;

}

.footer_post div {

    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20%;
    border: darkgrey 1px solid;
}

.emoji_love {
    background-image: url("https://i.pinimg.com/originals/97/7b/cd/977bcdeaa028f7350095fa3d5d032584.png");
    background-color: white;
    background-size: contain;
}

.emoji_cute {
    background-image: url("Cute.png");
    background-color: white;
    background-size: contain;
}

.emoji_style {
    background-image: url("https://images.emojiterra.com/google/android-nougat/512px/1f44d.png");
    background-color: white;
    background-size: contain;
}

.emoji_swag {
    background-image: url("Swag.png") ;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.footer_post div:hover {
    cursor: pointer;
    background-color: lightgray;

}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@ right Side @@@@@@@@@@*/


#Right_Side {
    float: right;
    width: 25%;
    height: 100%;
    background-color: darkgrey;
}